html{ 
    background-color:#000000;
}

p{
    color: rgb(194, 154, 249);
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: italic;
        font-size: large;
        font-size: 4ch;
        text-align: center;
      
      
}
div{
text-align: center;
width: 50%;
margin-left: 25%;
margin-top: 100px;
}
img{ 
    border: 5px solid rgb(194, 154, 249);
    width: 90%;
}